<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Link</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}€</td>
                <td>{{ item.brand }}</td>
                <td><img id="shopImage" src="{{ item.thumbnails }}" alt="NO PHOTO" style="width: 10%"></td>
                <td><a href="{{ item.url }}">Vinted Link</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>